# domain url
NEXT_PUBLIC_SITE_URL=https://haydenbi.com

# oss url
STORE_PUBLIC_SITE_URL=

# google
NEXT_PUBLIC_GA_ID=

# waline
NEXT_PUBLIC_WALINE_SERVER_URL=

# social
NEXT_PUBLIC_TWITTER_SITE=@HaydenBi
